<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Luis Cutilak</h1>
        <h3>Software Developer FullStack</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/luis-fernando-cutilak-6a2a10106/" target="_blank" class="">
            <img src="../../assets/icons/icons8-linkedin(2).svg" width="24px" height="24px" class="rounded-circle me-2" alt="linkedin icon">
        </a>

        <a href="https://github.com/luiscutilak" target="_blank" class="">
            <img src="../../assets/icons/icons8-github-48(1).png" width="24px" height="24px" class="rounded-circle me-2" alt="linkedin icon">
        </a>

        <a href="https://twitter.com/LCutilak" target="_blank" class="">
            <img src="../../assets/icons/icons8-twitterx-50.png" width="24px" height="24px" class="rounded-circle me-2" alt="linkedin icon">
        </a>

    </div>
</div>
