<div class="container text-center">
    <button (click)="DownloadFile()" type="button" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>
    
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">▶️​</div>
                    <div class="btn-link">Work Experience</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">▶️​</div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">⏬​</div>
                    </div>
                </button>
                
                <div style="text-align: left;">
                    <h2 class="mb-0">Software Developer</h2>
                    <h3 class="text-primary">Trybe Technology School</h3>
                    <ul>
                        <li>Software development, front-end and backend, computer science.</li>
                        <li>Study was the main activity, we developed projects, as close to the real professional as possible, I had the privilege of undergoing an internship in partnership with XP Inc.</li>
                        <li>learning softSkills and agile methods, relationships, collaboration, co-operation.</li>
                    </ul>
                    <h2 class="mb-0">Software Engineering</h2>
                    <h3 class="text-primary">Start Capgemini Program</h3>
                    <ul>
                        <li>Development of software solutions and maintenance, along with a learning program using languages ​​such as java, angular, jquery, My Sql, php, Tomcat.</li>
                        <li>collaborative development with the community, understanding customer needs, according to the profile of each organization.</li>
                    </ul>
                </div>
                <hr>
            </accordion-group>
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">▶️​</div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">▶️​</div>
                        <div *ngIf="isEducationOpen" style="color: white;">⏬​</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0"></h2>
                    <h3 class="text-primary">Franca University</h3>
                    <ul>
                        <li>Computer Science</li>
                    </ul>
                    <h3 class="text-primary">Trybe</h3>
                    <ul>
                        <li>Technology School</li>
                    </ul>
                    <h3 class="text-primary">Capgemini</h3>
                    <ul>
                        <li>Start Program</li>
                    </ul>
                    <h3 class="text-primary">Business School</h3>
                    <ul>
                        <li>high school</li>
                    </ul>              
                </div>

            </accordion-group>
            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">▶️​</div>
                    <div class="btn-link">Certifications</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white;">▶️​</div>
                        <div *ngIf="isCertificationsOpen" style="color: white;">⏬​</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0"></h2>
                    <h3 class="text-primary">Trybe</h3>
                    <ul>
                        <li>HTML, CSS, Javascript, React, UNIX & BASH, DOM, JS Advanced, UnitStests, GIT, GITHUB & INTERNET - Completed.</li>
                    </ul>
                    <h3 class="text-primary">Digitall Inovation One</h3>
                    <ul>
                        <li>Angular, Typescript, Javascript, CSS, HTML - Completed.</li>
                    </ul>
                    <h3 class="text-primary">RocketSeat</h3>
                    <ul>
                        <li>Java Maven, Springboot, MySql, Docker - Completed.</li>
                    </ul>
                    <h3 class="text-primary">Capgemini Start Program</h3>
                    <ul>
                        <li>Java, JavaWeb, Angular, Typescript, Javascript, CSS, HTML, PHP, Jquery - Completed. </li>
                        <li>AWS CLOUD - In progress.</li>
                    </ul>
                    <h3 class="text-primary">SpringBoot Academy</h3>
                    <ul>
                        <li>Java Gradle, Springboot, TDD - test-driven development - In progress. </li>
                    </ul>
                </div>

            </accordion-group>
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">▶️​</div>
                    <div class="btn-link">Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">▶️​</div>
                        <div *ngIf="isSkillsOpen" style="color: white;">⏬​</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0"></h2>
                    <h3 class="text-primary"></h3>
                    <ul>
                        <li>Creativity</li>
                        <li>Leadership</li>
                        <li>Emotional intelligence</li>
                        <li>Team work</li>
                        <li>Discipline</li>
                        <li>Adaptation</li>
                        <li>Resilience</li>
                        <li>Ability to learn</li>
                        <li>Customer relationship</li>
                    </ul>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>