<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/ferwts2.png" alt="profile picture" width="230" height="250" class="rounded-circle">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat velit vitae purus vestibulum, eget venenatis neque ultricies. Sed dictum tincidunt dolor, ut posuere mi ornare in. Proin ac sodales ipsum, in tempor ex. Duis feugiat nisi at felis aliquet, sit amet fermentum nisl lobortis. Suspendisse aliquam, turpis porta sagittis sollicitudin, magna mauris vestibulum nunc, non laoreet turpis tellus nec eros. Donec sed metus eget nibh vehicula feugiat. Suspendisse mollis, sem non euismod convallis, quam lacus pulvinar ex, vel ullamcorper massa mauris nec nunc. Sed fringilla a tortor vitae bibendum. Aenean aliquam non risus id placerat. Donec lorem enim, dapibus vel elit id, fringilla interdum lacus. Etiam lacus nisi, volutpat sit amet bibendum ultrices, gravida id enim. Morbi auctor vehicula purus quis luctus. Praesent orci neque, sagittis ut nisi sit amet, accumsan scelerisque sapien. Morbi non neque eget elit tincidunt viverra. </p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featureProject.name}}</h4>
            </div>
            <carousel>
                <div *ngFor="let picture of featureProject.pictures>
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the Portolio section to learn more!</p>
        </div>
    </div>
</div>
